/* Opis: Strony - tylko result admin i employee */
/*  */
/*  Style definition   : Common page elements     */

body {
	margin-left: 3cm;
	margin-right: 5cm;
	background-color: #bdd7cc;
    margin-top: 50px;
}

#pageContent {
	margin-left: 1cm;
}

#pageBreak {
    margin-top:  20px;
    margin-down: 20px;
}

.myNewClass {
	margin-top: 2cm;
	margin-bottom: 2cm;
}

/*  <<< END >>>        : Global elements       */
/*  */
/*  Style definition   : ????                */







/*  <<< END >>>        : ????                */
/*  */
/*  Style definition   : ????                */





/*  <<< END >>>        : ????                */