<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="../static/css/f..."
           	  th:href="@{/css/global.css}"
              rel="stylesheet" media="screen" />	
    	<link href="../static/css/f..."
           	  th:href="@{/css/after_login.css}"
              rel="stylesheet" media="screen" />
              
        <link href="../static/css/f..."
           	  th:href="@{/css/bootstrap.css}"
              rel="stylesheet" media="screen" />	
    	<link href="../static/css/f..."
           	  th:href="@{/css/font-awesome.css}"
              rel="stylesheet" media="screen" />
              
         <link href="../static/css/f..."
           	  th:href="@{/css/nexus.css}"
              rel="stylesheet" media="screen" />
     	 <link href="../static/css/f..."
           	  th:href="@{/css/pace/pace-theme-big-counter.css}"
              rel="stylesheet" media="screen" />     
              
         <link href="../static/css/f..."
           	  th:href="@{/css/style.css}"
              rel="stylesheet" media="screen" />
         <link href="../static/css/f..."
           	  th:href="@{/css/main-style.css}"
              rel="stylesheet" media="screen" />
              
          <link href="../static/css/f..."
           	  th:href="@{/css/dataTables.bootstrap.css}"
              rel="stylesheet" media="screen" />
              
          <!--         <link href="../static/css/bootstrap.css" rel="stylesheet" />
	   	 <link href="../static/css/font-awesome.css" rel="stylesheet" />
	   	 <link href="../static/css/pace/pace-theme-big-counter.css" rel="stylesheet" />
	 	 <link href="../static/css/style.css" rel="stylesheet" />
		 <link href="../static/css/main-style.css" rel="stylesheet" />
		 <link rel="stylesheet" href="../static/css/nexus.css" rel="stylesheet">

	     <link href="../static/css/dataTables/dataTables.bootstrap.css" rel="stylesheet" /> -->
		 
		<title>Panel zarządzania kontami</title>
	</head>
	
    <body>
		<header>
			<div id="shortLinks">
				<a class="list-group-item" th:href="@{/home}">
					<i class="fa fa-home fa-fw"></i>&nbsp; Wróć
				</a>	
			</div>	
		</header>	

		<div class="container login-page">
			<div class="dataList">
				<div th:if="${usersList.getNumberOfElements() > 0}">
					<h2>Panel zarządzania kontami</h2>
					
					
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                             Lista użytkowników:
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Nazwa użytkownika</th>
                                            <th>Rola</th>
                                            <th>Czy jest aktywny(s)</th>
                                            <th>Operacje</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX" th:each="user : ${usersList}">
                                            <td th:text="${user.username}">Username</td>
											<td th:text="${user.userRoleToString()}">Role</td>
											<td th:text="${user.enabled}">Enabled</td>
                                            <td>
												<a th:href="@{/admin/accountsControl/blockUser(user=${user.username})}"><span>Block</span></a>/
												<a th:href="@{/admin/accountsControl/unlockUser(user=${user.username})}"><span>Unlock</span></a>
											</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>					
					
				
					<table>
						<tr>
							<th>Nazwa użytkownika</th>
							<th>Rola</th>
							<th>Czy jest aktywny</th>
							<th>Operacje</th>
						</tr>
						<tr th:each="user : ${usersList}">
							<td th:text="${user.username}">Username</td>
							<td th:text="${user.userRoleToString()}">Role</td>
							<td th:text="${user.enabled}">Enabled</td>
							<td>
								<a th:href="@{/admin/accountsControl/blockUser(user=${user.username})}"><span>Block</span></a>/
								<a th:href="@{/admin/accountsControl/unlockUser(user=${user.username})}"><span>Unlock</span></a>
							</td>
						</tr>
					</table>
					</div>	
						<div id="pageBreak"></div>
					</div>
					
					<div class="dataTables_paginate paging_simple_numbers">
				 		<ul class="pagination">
				 		
				 				<li th:class="${pageNumber == 1?'disabled':''}">
			 						<a th:href="@{/admin/accountsControl(page=1)}" class="paginate_button" ><span>Pierwsza strona</span></a>
			 					</li>
								<li th:class="${pageNumber &lt;= 1?'disabled':''}" >
									<a  th:href="@{/admin/accountsControl(page=${pageNumber-1})}" class="paginate_button" ><span>Wstecz</span></a>
								</li>
			 					<li style="float:right" th:class="${pageNumber == maxPagesNumber?'disabled':''}" >
			 						<a th:href="@{/admin/accountsControl(page=${maxPagesNumber})}" class="paginate_button" ><span>Ostatnia strona</span></a>
			 					</li>
								<li style="float:right" th:class="${pageNumber &gt;= maxPagesNumber?'disabled':''}" >
									<a  th:href="@{/admin/accountsControl(page=${pageNumber+1})}" class="paginate_button"  th:disabled="${nextInp}" ><span>Dalej</span></a>
								</li>
						</ul>
					</div>
				</div>
				<div th:unless="${usersList.getNumberOfElements() > 0}">
					<div id="attention">Uwaga! Brak rekordów w bazie danych.</div>
				</div>

    </body>
</html>