<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="../static/css/f..."
           	  th:href="@{/css/global.css}"
              rel="stylesheet" media="screen" />	
    	<link href="../static/css/f..."
           	  th:href="@{/css/after_login.css}"
              rel="stylesheet" media="screen" />
		<title>Change password</title>
	</head>
	
    <body>
		<header>
			<h1>
				Change password form
			</h1>
			<div id="shortLinks">
				<ul> 
					<li><a th:href="@{/home}">Return to homepage</a></li> 
				</ul>
			</div>
		</header>	
		<hr/>
		<div id="pageContent">
        	<form id="myForm" th:action="@{/changePassword}" th:object="${newPasswordDTO}" method="post">
     			<div>
            		<table>
            	    	<tr id="myTr" >
            				<th colspan="2"><div id="myFormTitle"> New Form: </div></th>
            			</tr>
                		<tr id="myTr">
                    		<td>New password:</td>
                    		<td><input type="password" name="p1" th:field="*{newPassword}" /></td>
                    		<td th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Password Error</td>
                		</tr>          	
                		<tr id="myTr">
                    		<td>Repeat new password:</td>
                    		<td><input type="password" name="p2" th:field="*{confirmNewPassword}" /></td>
                    		<td th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}">Password Error</td>
                		</tr>            	        	
            		</table>
            		<button type="submit" id="send" >Submit</button>
            	</div>
        	</form>
        </div>
    </body>
</html>