<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="../static/css/f..."
           	  th:href="@{/css/global.css}"
              rel="stylesheet" media="screen" />	
    	<link href="../static/css/f..."
           	  th:href="@{/css/cooperation.css}"
              rel="stylesheet" media="screen" />
		<title>Cooperation details</title>
	</head>
	
    <body>
		<header>
			<h1>
				Cooperation details
			</h1>
			<div>
				<ul> 
					<li><a th:href="@{/employee/cooperationsList}">Go Back</a></li>
					<li><a th:href="@{/home}">Return to homepage</a></li> 
				</ul>
			</div>
		</header>
		<hr id="hr1" />
		<div id="pageContent">	
			<div>
				<table>
					<tr>
						<td>Client:</td>
						<td th:text="${cooperation.client.toString()}">text</td>
					</tr>
				</table>
			</div>
			<div>	
				<table>
					<tr>
						<td>Cooperation id:</td>
						<td th:text="${cooperation.cooperationId}">text</td>
					</tr>
					<tr>
						<td>Type of cooperation:</td>
						<td th:text="${cooperation.typeOfCooperation}">text</td>
					</tr>
					<tr>		
						<td>Description:</td>
						<td th:text="${cooperation.description}">text</td>
					</tr>
					<div th:if="${cooperation.dateOfLastEvent != null}">
						<tr>		
							<td>Date of last event:</td>
							<td th:text="${#dates.format(cooperation.dateOfLastEvent, 'dd-MMM-yyyy')}">text</td>
						</tr>	
					</div>	
					<div th:unless="${cooperation.dateOfLastEvent != null}">
						<tr>
							<td>Date of last event:</td>
							<td>No date</td>
						</tr>
					</div>						
					<tr>	
						<td>Actions:</td>
						<td><a th:href="@{/employee/cooperation/acceptCooperation(cooperation=${cooperation.cooperationId})}"><span>Accept</span></a>/<a th:href="@{/employee/cooperation/rejectCooperation(cooperation=${cooperation.cooperationId})}"><span>Reject</span></a></td>
					</tr>
				</table>
			</div>
        </div>
    </body>
</html>