<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="../static/css/f..."
           	  th:href="@{/css/global.css}"
              rel="stylesheet" media="screen" />	
    	<link href="../static/css/f..."
           	  th:href="@{/css/forms_and_results.css}"
              rel="stylesheet" media="screen" />
		<title>Dodawanie oferty współpracy</title>
	</head>
	
    <body>
		<header>
			<h1>
				Dodawanie oferty współpracy
			</h1>
			<div>
				<ul> 
					<li><a th:href="@{/}">Wróć do strony startowej</a></li> 
				</ul>
			</div>
		</header>
		<hr id="hr1" />
		<div id="pageContent">
        	<form id="myForm" th:action="@{/addCooperationOffer}" th:object="${cooperationOfferDTO}" method="post">
     			<div>
     				<div> Nowy formularz: </div>
            		<table>
                		<tr id="myTr">
                    		<td>Klient:</td>
                    		<td> <select th:field="*{clientId}"> <option value="" selected="true">Wybierz swojego klienta</option> <option th:each="cli : ${allClients}" th:value="${cli.clientId}" th:text="${cli.toString()}">Opt</option> </select></td>	
                    		<td th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}">Error</td>
                		</tr>
                		<tr id="myTr">
                    		<td>Pracownik:</td>
                    		<td> <select th:field="*{employeeId}"> <option value="" selected="true">Wybierz swojego pracownika</option> <option th:each="emp : ${allEmployees}" th:value="${emp.employeeId}" th:text="${emp.toString()}">Opt</option> </select></td>	
                    		<td th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}">Error</td>
                		</tr>
                		<tr id="myTr">
                    		<td>Rodzaj współpracy:</td>
                    		<td> <select th:field="*{typeOfCooperation}"> <option value="" selected="true">Wybierz rodzaj współpracy</option> <option th:each="type : ${allTypesOfCooperation}" th:value="${type}" th:text="${type}">Opt</option> </select></td>	
                    		<td th:if="${#fields.hasErrors('typeOfCooperation')}" th:errors="*{typeOfCooperation}">Error</td>
                		</tr>         
                		<tr id="myTr">
                    		<td>Temat współpracy prawnej:</td>
                    		<td><input type="text" th:field="*{subject}" /></td>
                    		<td th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}">Error</td>
                		</tr>      	
                 		<tr id="myTr">
                    		<td>Opis problemu:</td>
                    		<td><textarea rows="3" cols="50" name="description"  th:field="*{description}" form="myForm" /></td>
                    		<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</td>
                		</tr>                	                 	       	                  	
            		</table>
            		<div> <button type="submit" id="send" >Utwórz</button> </div>
            		<div>Pola z * są opcjonalne</div>
            	</div>
        	</form>
        </div>
    </body>
</html>