<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    	<link href="../static/css/css_file.css"
           	  th:href="@{/css/core1.css}"
              rel="stylesheet" media="screen" />
        <title>Admin homepage</title>
	</head>
    <body>
    	<header>
			<h1>
				Admin page 
			</h1>
			<div id="shortLinks">
				<ul id="ulRet">
					<li><a th:href="@{/admin/accountsControl}">Accounts control</a></li>
					<li><a th:href="@{/admin/registerEmployee}">Register employee</a></li>
					<li><a th:href="@{/changePassword}">Change password</a></li>
					<li><form th:action="@{/logout}" method="post"><input type="submit" id="logout" value="Sign Out"/></form></li>
				</ul>
			</div>
		</header>
		<div id="pageContent">
			<p th:text="${usernameMsg}">username</p>
			<p th:text="${roleMsg}">role</p>
		</div>
    </body>
</html>