<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="../static/css/f..."
           	  th:href="@{/css/global.css}"
              rel="stylesheet" media="screen" />	
    	<link href="../static/css/f..."
           	  th:href="@{/css/before_login.css}"
              rel="stylesheet" media="screen" />
		<title>Startpage</title>
	</head>
	
    <body>
		<header>
			<h1>
				Root page
			</h1>
			<div id="shortLinks">
				<ul>
					<li><a th:href="@{/login}">Login user</a></li>
					<li><a th:href="@{/registerClient}">***TESTING*** add client</a></li>
					<li><a th:href="@{/addCooperationOffer}">***TESTING*** add cooperation offer</a></li>
				</ul>	
			</div>
		</header>
		<div id="pageContent">
			<div> :] !!!</div>
			<div> <p>ąćżółęń</p> </div>
			<div>
				<ul>
					<li> </li>
				</ul>
			</div>
		</div>
    </body>
</html>