<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="../static/css/f..."
           	  th:href="@{/css/global.css}"
              rel="stylesheet" media="screen" />	
    	<link href="../static/css/f..."
           	  th:href="@{/css/before_login.css}"
              rel="stylesheet" media="screen" />
		<title>Login</title>
	</head>
	
    <body>     
		<header>
			<h1>
				Login form 
			</h1>
			<div id="shortLinks">
				<ul>
					<li><a th:href="@{/}">Main page</a></li>
				</ul>	
			</div>		
		</header>		
		<hr/>
		<div id="pageContent">
       		<form th:action="@{/login}" method="post">
     			<div> New Form: </div>
     			<div id="pageBreak"></div>
            	<table>
                	<tr>
                    	<td>User Name:</td>
                    	<td><input type="text" name="username" /></td>
                	</tr>
                	<tr>
                    	<td>Password:</td>
                    	<td><input type="password" name="password" /></td>
                	</tr>
            	</table>
            	<div id="pageBreak"></div>
            	<input type="submit" value="Sign In"/>        
       		</form>
        
        	<div th:if="${param.error}">
        		<p>Error:</p>
        		<p>Invalid username and password.</p>
        	</div>
        	<div th:if="${param.logout}">
        		<p>Information:</p>
        		<p>You have been logged out.</p>
       		</div>  
  		</div>
    </body>
</html>