<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../static/css/f..."
           	  th:href="@{/css/global.css}"
              rel="stylesheet" media="screen" />	    
    	<link href="../static/css/f..."
           	  th:href="@{/css/admin.css}"
              rel="stylesheet" media="screen" />
		<title>Employee register form</title>
	</head>
	
    <body>
		<header>
			<h1>
				Employee register form
			</h1>
						<div id="shortLinks">
				<ul>
					<li><a th:href="@{/home}">Return to homepage</a></li>
				</ul>	
			</div>
		</header>	
		<hr/>
		<div id="pageContent">
        	<form id="myForm" th:action="@{/admin/registerEmployee}" th:object="${employeeDTO}" method="post">
     			<div>
            		<table>
            	   		<tr id="myTr" >
            				<th colspan="2"><div id="myFormTitle"> Nowy formularz rejestracji pracownika: </div></th>
            			</tr>
                		<tr id="myTr" >
                    		<td>Nazwa użytkownika:</td>
                    		<td><input type="text" th:field="*{username}" /></td>
                    		<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</td>
                		</tr>
                		<tr id="myTr">
                    		<td>Nowe hasło:</td>
                    		<td><input type="password" th:field="*{password}" /></td>
                    		<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</td>
                		</tr>
                		<tr id="myTr">
                    		<td>Powtórz hasło:</td>
                    		<td><input type="password" th:field="*{confirmPassword}" /></td>
                    		<td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Error</td>
                		</tr>         
                 		<tr id="myTr">
                    		<td>Imię:</td>
                    		<td><input type="text" th:field="*{firstName}" /></td>
                    		<td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error</td>
                		</tr>              	
                  		<tr id="myTr">
                    		<td>Nazwisko:</td>
                    		<td><input type="text" th:field="*{lastName}" /></td>
                    		<td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</td>
                		</tr>            	
                 		<tr id="myTr">
                    		<td>Adress e-mail:</td>
                    		<td><input type="email" th:field="*{email}" /></td>
                    		<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</td>
                		</tr>     
                 		<tr id="myTr">
                    		<td>Stanowisko:</td>
                    		<td><input type="text" th:field="*{position}" /></td>
                    		<td th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Error</td>
                		</tr>
                		<tr id="myTr">
                    		<td>Pensja*:</td>
                    		<td><input type="text" th:field="*{salary}" placeholder="ex. 2500 PLN" /></td>
                    		<td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Error</td>
                		</tr>                     	       	  
            		</table>
            		<button type="submit" id="send" >Zarejesruj</button>
            		<div>Pola z * są opcjonalne</div>
            	</div>
        	</form>
        </div>
    </body>
</html>